<h2>Hi <%= @user.username %>, these are all your events:</h2>


<h3>Upcoming events:</h3>
<% @upcoming_events.each do |event| %>
<p>
	<strong>Location:</strong> <%= event.location %><br />
	<strong>Date:</strong> <%= event.event_date %>
</p>
<% end %>

<h3>Past events:</h3>
<% @previous_events.each do |event| %>
<p>
	<strong>Location:</strong> <%= event.location %><br />
	<strong>Date:</strong> <%= event.event_date %>
</p>
<% end %>


