<h1>New event page</h1>

<%= form_with(model: @event, method: "post") do |form| %>
  <%= form.label :location %><br />
  <%= form.text_field :location %><br />
  <%= form.label :event_date %><br />
  <%= form.text_field :event_date %><br />
  <%= form.submit "Create" %><br />
<% end %>
