<h1>Event details</h1>

<p>
	<strong>Location:</strong> <%= @event.location %><br/> 
	<strong>Event Date:</strong> <%= @event.event_date %><br/> 
	<strong>Creator:</strong> <%= @user.username %>		
</p>

<h4>Attendees: </h4>
<% @event.attendees.each do |attendee| %>	
	<p>
		<strong>Username:</strong> <%= attendee.username %><br />
		<strong>Email:</strong> <%= attendee.email %><br />
		<br />
	</p>
<% end %>