<%= link_to 'All events', root_path %>
<h1>Event details</h1>

<table>
	<tr>
			<th>Location</th>
			<th>Event Date</th>
			<th>Creator</th>
	</tr>
	<tr>
		<td><%= @event.location %></td>
		<td><%= @event.event_date %></td>
		<td><%= @user.username %></td>	
	</tr>
	</table>

<h4>Attendees: </h4>
<table>
	<tr>
			<th>Username</th>
			<th>Email</th>
	</tr>
<% @event.attendees.each do |attendee| %>	
		<tr>
			<td><%= attendee.username %></td>
			<td><%= attendee.email %></td>
		</tr>
	<% end %>
</table>